html {
  text-align: center;
  font-family: sans-serif;
  color-scheme: dark;
}

.links a {
  text-decoration: none;
  color: CanvasText;
  border-bottom: thin solid CanvasText;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

.loader {
  display: block;
  margin: auto;
}
